<?xml version="1.0"?>
<!DOCTYPE config>

<config>
    <modules>
        <SoftUni_Exam>
            <version>0.0.0</version>
        </SoftUni_Exam>
    </modules>
    <global>
        <models>
            <softuni_exam>
                <class>SoftUni_Exam_Model</class>
                <resourceModel>softuni_exam_resource</resourceModel>
            </softuni_exam>
            <softuni_exam_resource>
                <class>SoftUni_Exam_Model_Resource</class>
                <entities>
                    <contest>
                        <table>exam_contest</table>
                    </contest>
                    <contestant>
                        <table>exam_contestant</table>
                    </contestant>
                </entities>
            </softuni_exam_resource>
        </models>
        <resources>
            <exam_setup>
                <setup>
                    <module>SoftUni_Exam</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </exam_setup>
        </resources>
        <blocks>
            <exam>
                <class>SoftUni_Exam_Block</class>
            </exam>
        </blocks>
        <helpers>
            <exam>
                <class>SoftUni_Exam_Helper</class>
            </exam>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <exam before="Mage_Adminhtml">SoftUni_Exam_Adminhtml</exam>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <exam>
                <use>standard</use>
                <args>
                    <frontName>exam</frontName>
                    <module>SoftUni_Exam</module>
                </args>
            </exam>
        </routers>
        <layout>
            <updates>
                <exam>
                    <file>exam.xml</file>
                </exam>
            </updates>
        </layout>
    </frontend>
</config>