<?xml version="1.0"?>
<!DOCTYPE config>

<config>
    <modules>
        <SoftUni_Exam>
            <version>0.0.0</version>
        </SoftUni_Exam>
    </modules>
    <global>
        <models>
            <exam>
                <class>SoftUni_Exam_Model</class>
            </exam>
        </models>
        <blocks>
            <exam>
                <class>SoftUni_Exam_Block</class>
            </exam>
        </blocks>
        <helpers>
            <exam>
                <class>SoftUni_Exam_Helper</class>
            </exam>
        </helpers>
    </global>
    <frontend>
        <routers>
            <exam>
                <use>standard</use>
                <args>
                    <frontName>exam</frontName>
                    <module>SoftUni_Exam</module>
                </args>
            </exam>
        </routers>
        <layout>
            <updates>
                <exam>
                    <file>exam.xml</file>
                </exam>
            </updates>
        </layout>
    </frontend>
</config>